{% extends "template.html" %}
{% block content %}


<div class="row">
	  <div class="col-md-12">
		    <div class="headingbox">
			      <h1 class="heading">Password Reset</h1>
		    </div>
	  </div>
</div>

<div class="row">
	  <div class="col-md-12">
		    <div class="wrapper">
			      <div class="content">
				        
				        
				        <div class="row">
					          <div class="col-md-12">
						            {% if form.errors %}
							          <p class="warn">Your username and password didn't match. Please try again.</p>
						            {% endif %}

						            {% if next %}
							          {% if user.is_authenticated %}
								        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
							          {% else %}
								        <p>Please login to see this page.</p>
							          {% endif %}
						            {% endif %}
					          </div>
				        </div>
				        
				        <div class="row">
					          <div class="col-md-12">
						            {% load myfilters %}
                        <form action="" method="post">{% csrf_token %}
                            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                            <p>{{ form.email }}</p> 
                            <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
                        </form>
						            
					          </div>
				        </div>
			      </div>
		    </div>
	  </div>
</div>

{% endblock %}
