{% extends "template.html" %}
{% block content %}

<div class="row">
	  <div class="col-md-12">
		    <div class="headingbox">
			      <h1 class="heading">Password Reset</h1>
		    </div>
	  </div>
</div>

<div class="row">
	  <div class="col-md-12">
		    <div class="wrapper">
			      <div class="content">
				        
				        <div class="row">
					          <div class="col-md-12">
						            <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>      
					          </div>
				        </div>
			      </div>
		    </div>
	  </div>
</div>

{% endblock %}
