{% extends "template.html" %}

{% block title %}<title>Login - UMOC</title>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="headingbox">
			<h1 class="heading">Existing User Login</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="wrapper">
			<div class="content">
				
				
				<div class="row">
					<div class="col-md-12">
						{% if form.errors %}
							<p class="warn">Your username and password didn't match. Please try again.</p>
						{% endif %}

						{% if next %}
							{% if user.is_authenticated %}
								<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
							{% else %}
								<p>Please login to see this page.</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						{% load myfilters %}
						<form method="post" action="{% url 'login' %}">
							{% csrf_token %}
							{% for field in form %}
								<div class="row">
									<div class="col-md-2">
										{{ field.label_tag }}
									</div>
									<div class="col-md-9">
										{{ field|addclass:'form-control' }}
										{% if field.help_text %}
											<div class="help">{{ field.help_text|safe }}</div>
										{% endif %}
										<div class="warn">{{ field.errors }}</div>										
									</div>
								</div>
								<br>
							{% endfor %}
							<div class="row">
								<div class="col-md-2"><label>Submit:</label></div>
								<div class="col-md-9">
									<button class="btn btn-info btn-block btn-lg" value="login" type="submit">Login</button>
									<input type="hidden" name="next" value="{{ next }}" />
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						{# Assumes you setup the password_reset view in your URLconf #}
						<p class="help"><a href="{% url 'password_reset' %}">Lost password?</a></p>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>

{% endblock %}