#trip_widget {
	background-color: #CCC;
	margin: 4rem;
	padding: 1.5rem;
	border: 2px solid gray;
	border-radius: 10px;
}

#headingbox {
    border: 10px;
    background: #202a35;
    padding:50px;
    margin-top:-50px;
    background: linear-gradient(#202a35, #3b5666);
    background-clip: border-box;
}

#form {
    background: #e7e7e7;
    margin-top: -30px;
    height:100%;
    background-clip: border-box;
}

#wrapper{
  padding: 50px;
}

#white_form{
  background-color: white;
  padding: 50px;
}

h1{
  text-align: center;
  color: white;
}