<!--
Displays upcoming trips, sorted by start time.
Expects a 'trips': list/QuerySet parameter of ordered Trip objects.
-->
{% extends "template.html" %}

{% block title %}<title>Activities - UMOC</title>{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="row">
	<div class="col-md-12">
		<div class="headingbox">
			<h1 class="heading">UMOC Activities</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class = "wrapper">
			<div class="content">
			
				<h2>Trip Finder</h2>
				{% if user.is_authenticated and user.profile.admin_level == 'a' or user.profile.admin_level == 'l' %}
				<a class="btn btn-primary" href="{% url 'trip_create'%}">Create a New Trip</a>
				{% endif %}
				
				{% for trip in trips %}
					<div class="row"">
						<div class="col-md-10" class="trip_widget">
							<h3><a href="{{ trip.get_absolute_url }}">{{ trip.name }} </a></h3> 
							{% if trip.get_tag_name %}
								<button class='btn btn-primary' style="background-color: {{ trip.get_tag_color }}">{{ trip.get_tag_name }}</button>
							{% endif %}
							{% if trip.cancelled %}
								<button class='btn btn-danger'>Cancelled</button>
							{% endif %}
							<p>Led by <a href="{{ trip.leader.get_absolute_url }}">{{ trip.leader.first_name }} {{ trip.leader.last_name }}</a></p>
							<p>{{ trip.start_time }} - {{ trip.end_time }}</p>
							<p>{{ trip.description }} <a href="{{ trip.get_absolute_url }}">>> See Trip Page</a></p>
							
						</div>
					</div>
				{% empty %}
					<h3>Sorry, there are no upcoming trips scheduled</h3>
				{% endfor %}
				<a href="#">Click to See Past Trips</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}