{% extends "template.html" %}

{% block title %}<title>Home - UMOC</title>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="headingbox">
			<h1 class="heading">UMOC Home</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="wrapper">
			<div class="content">
				
				
				<div class="row">
					<div class="col-md-12">
						<p>Welcome to the UMass Outing Club website! UMOC is one of UMass Amherst's largest clubs, with members who like all things outdoors.</p>
						
						<p>You can use this site to sign up for trips, communicate with leaders, and manage your club profile. Check out upcoming trips by heading over to <a href="{% url 'dashboard' %}">the activities page</a> or register for an account <a href="{% url 'register' %}">here</a></p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						{% load static %}
						<img src="{% static 'img/index/sunrise.jpg' %}" alt="example-image" class="img-rounded img-responsive center-image">
						{% load static %}
						<script src="{% static 'javascript/index.js' %}"></script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}