<!-- Website navbar. Depends on currently validated user (if any).-->

<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" href="{% url 'index' %}">UMOC</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse-5">
				<ul class="nav navbar-nav">
					<li {% if request.path == "/dashboard/" %}class="active"{% endif %}><a href="{% url 'dashboard' %}">Activites<span class="navbar-unread">4</span></a></li>
				</ul>
				<!-- Show logged-in features -->
				{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">				
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications<span class="navbar-new" id="notifications-counter">0</span></a>
							
							<ul class="dropdown-menu scrollable-menu" id="notifications-dropdown">
								<!-- import Javascript for Notification functionality -->
								{% load static %}
								<script src="{% static 'javascript/notifications.js' %}"></script>
							</ul> <!-- /Sub menu -->
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block fullname %}{{ user.profile.first_name }} {{ user.profile.last_name }}{% endblock %}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% url 'waiver' as waiver_url %}
								<li {% if request.path == waiver_url %}class="active"{% endif %}><a href="{% url 'waiver'%}">My Waiver</a></li>
								{% if user.profile.admin_level == "a" %}
									{% url 'admin_management' as admin_url %}
									<li {% if request.path == admin_url %}class="active"{% endif %}><a href="{% url 'admin_management' %}">Admin Menu</a></li>
								{% endif %}
								<li class="divider"></li>
								<li><a href="{% url 'logout' %}">Log Out</a></li>
							</ul>
						</li>
						{% url 'profile' as profile_url %}
						<li {% if request.path == profile_url %}class="active"{% endif %}>
							<a href="{% url 'profile' %}">
								<span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span>
								<span class="visible-md visible-lg"><span class="fui-gear"></span></span>
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav navbar-nav navbar-right">
						<form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="username" placeholder="Username" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" class="form-control">
							</div>
							<button type="submit" class="btn btn-primary">Sign in</button>
							<a href="{% url 'register' %}">
								<button type="button" class="btn btn-primary">Register</button>
							</a>
						</form>
					</ul>
				{% endif %}
			</div>
		</nav>
	</div>
</div>
