<!-- Website navbar. Depends on currently validated user (if any).-->

<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" href="{% url 'index' %}">UMOC</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse-5">
				<ul class="nav navbar-nav">
					<li {% if request.path == "/dashboard/" %}class="active"{% endif %}><a href="{% url 'dashboard' %}">Activites<span class="navbar-unread">4</span></a></li>
				</ul>
				<!-- Show logged-in features -->
				{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">				
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications<span class="navbar-new">{{ user.profile.notification_set.all|length }}</span></a>
							<!-- TODO: show "No Notifications" if none. Color differently for seen. Allow dismissal (?). Link to full notifications page (?). Use render_notification snippet -->
							<!-- for some reason "notifications" is not being found. We'll want to use the passed-in notifications object, which allows it to be filtered -->
							
							<ul class="dropdown-menu scrollable-menu">
								<!-- todo: make for-else -->
								{% for notification in user.profile.notification_set.all %}
									<li><span><a href="{% if notification.link %} {{ notification.link }} {% else %} # {% endif %}">{{ notification.message }} at {{ notification.time_stamp }}</a><button class='dismiss-notification-btn' id="dismiss-notification-{{ notification.id }}">Dismiss</button></span></li>
								{% empty %}
									<li><a href="#">No Notifications</a></li>
								{% endfor %}
								<!-- import Javascript for Notification functionality -->
								{% load static %}
								<script src="{% static 'javascript/notifications.js' %}"></script>
							</ul> <!-- /Sub menu -->
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block fullname %}{{ user.profile.first_name }} {{ user.profile.last_name }}{% endblock %}<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">My Trips</a></li>
								{% if user.profile.admin_level == "l" %}
									<li {% if request.path == "/trip_planner/" %}class="active"{% endif %}><a href="{% url 'trip_planner' %}">Leader Menu</a></li>
								{% endif %}
								{% if user.profile.admin_level == "a" %}
									{% url 'admin_management' as admin_url %}
									<li {% if request.path == admin_url %}class="active"{% endif %}><a href="{% url 'admin_management' %}">Admin Menu</a></li>
								{% endif %}
								<li class="divider"></li>
								<li><a href="{% url 'logout' %}">Log Out</a></li>
							</ul>
						</li>
						<li {% if request.path == "/profile/" %}class="active"{% endif %}>
							<a href="{% url 'profile2' user.pk %}">
								<span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span>
								<span class="visible-md visible-lg"><span class="fui-gear"></span></span>
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav navbar-nav navbar-right">
						<form class="navbar-form navbar-right" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="username" placeholder="Username" class="form-control">
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" class="form-control">
							</div>
							<button type="submit" class="btn btn-primary">Sign in</button>
							<a href="{% url 'register' %}">
								<button type="button" class="btn btn-primary">Register</button>
							</a>
						</form>
					</ul>
				{% endif %}
			</div>
		</nav>
	</div>
</div>
