{% extends "template.html" %}

{% block title %}<title>Profile - UMOC</title>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="headingbox">
			<h1 class="heading">{{user.profile.first_name}}'s Profile</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="wrapper">
			<div class="content">
				
				
				<div class="row">
					<div class="col-md-4">
						<a class="thumbnail">
							<img src="{{ user.profile.get_profile_img_url }}" alt="Profile Picture" style="height: 230px; width: 100%;">
						</a>
					</div>
					<div class="col-md-7">
						<div class="todo">
							<ul style="border-radius: 5px;">
								<li class="todo-done">
									<div class="todo-icon fui-heart"></div>
									<div class="todo-content">
										  <h4 class="todo-name">Pay the <strong>Membership Fee</strong></h4>"Required" once each year, valid for  all trips
									</div>
								</li>
								<li class="todo-done">
									<div class="todo-icon fui-user"></div>
									<div class="todo-content">
										<h4 class="todo-name">Fill out <strong>Emergency Contacts Info</strong></h4>Required once each year, valid for all trips
									</div>
								</li>
								<a href="{% url 'waiver'%}">
									<li {% if user.profile.can_join_trip %}class="todo-done"{% endif %}>
										<div class="todo-icon fui-alert-circle"></div>
										<div class="todo-content">
											<h4 class="todo-name">Sign the <strong>Release of Liability</strong> Form</h4>Required once, valid for all trips
										</div>
									</li>
								</a>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						{% load myfilters %}
						<form enctype="multipart/form-data" action="" method="post">
							{% csrf_token %}
							{% for field in form %}
								<div class="row">
									<div class="col-md-2">
										{{ field.label_tag }}
									</div>
									<div class="col-md-9">
										{{ field|addclass:'form-control' }}
										{% if field.help_text %}
											<div class="help">{{ field.help_text|safe }}</div>
										{% endif %}
										<div class="warn">{{ field.errors }}</div>
									</div>
								</div>
								<br>
							{% endfor %}
							<div class="row">
								<div class="col-md-2"><label>Submit:</label></div>
								<div class="col-md-9">
									<button class="btn btn-info btn-block btn-lg" type="submit">Submit</button>
									<input type="hidden" name="next" value="{{ next }}" />
								</div>
							</div>
						</form>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>

{% endblock %}