<!-- Shows a user's public profile. Expects the "profile" parameter, the UserProfile model of the user whose profile is being shown. -->
{% extends "template.html" %}

{% block title %}<title>Public Profile - UMOC</title>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="headingbox">
			<h1 class="heading">{{ profile.first_name }} {{ profile.last_name }}User's Profile</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="wrapper">
			<div class="content">
				<p>This page is a work in progress.</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}