{% extends "template.html" %}

{% block title %}<title>Register - UMOC</title>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="headingbox">
			<h1 class="heading">New User Registration</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="wrapper">
			<div class="content">
				
				
				<div class="row">
					<div class="col-md-12">
						<p>"Anyone can join. Everyone is welcome with open arms, smiles and handshakes (whichever you prefer). Our leaders are ready to accommodate everyone and their ability levels. You literally need ZERO experience to participate in any of our activities! No matter who you are, what your ability is, what your experience level is, you can join and come on trips with us."</p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						{% load myfilters %}
						<form method="post" action="">
							{% csrf_token %}
							{% for field in form %}
								<div class="row">
									<div class="col-md-2">
										{{ field.label_tag }}
									</div>
									<div class="col-md-9">
										{{ field|addclass:'form-control' }}
										{% if field.help_text %}
											<div class="help">{{ field.help_text|safe }}</div>
										{% endif %}
										<div class="warn">{{ field.errors }}</div>										
									</div>
								</div>
								<br>
							{% endfor %}
							<div class="row">
								<div class="col-md-2"><label>Submit:</label></div>
								<div class="col-md-9">
									<button class="btn btn-success btn-block btn-lg" type="submit">Submit</button>
								</div>
							</div>
						</form>
						<br>
						<div class="row">
							<div class="col-md-2"><label>Reset:</label></div>
							<div class="col-md-9">
								<form method="get" action="">
									<button class="btn btn-danger btn-block btn-lg" type="submit">Reset</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
