<!-- Renders a Comment 
Expected input: a Comment model named 'comment'
Requires Javascript file comment.js and CSS file comment.cs -->
{% load static %}
<script src="{% static 'javascript/comments.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/comment.css' %}">

<!-- todo: bootstrap this... -->
 <div class="panel panel-default">
	<div class="panel-heading">
		<p>
			<strong>{{ comment.author }}</strong>
			<span class="time-right">{{ comment.time_stamp }}</span>
		</p>
	</div>
		<div class="panel-body">


		<!-- only true if this comment is a reply -->
		{% if comment.parent %}
			<p><strong>In reply to {{ comment.parent.author }}</strong></p>
		{% endif %}

		<div id="text"><p>{{ comment.text }}</p></div>

	<button type="button" class="btn btn-primary pull-right">Reply</button>
</div>
</div>
