{% extends "base_generic.html" %}

{% block navbar %}
<div class="row">
		<div class="col-md-12">
				<nav class="navbar navbar-inverse" role="navigation">
						<div class="navbar-header">
							  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
								    <span class="sr-only">Toggle navigation</span>
							  </button>
							  <a class="navbar-brand" href="index.html">UMOC</a>
						</div>

						<div class="collapse navbar-collapse" id="navbar-collapse-5">
							  <ul class="nav navbar-nav">
								    <li><a href="dashboard.html">Activites<span class="navbar-unread">1</span></a></li>
								    <li><a href="#">Gear Locker</a></li>
								    <li><a href="#">Leadership</a></li>
								    <li class="active"><a href="#">Contact Us</a></li>
							  </ul>
							  <form class="navbar-form navbar-left" action="#" role="search">
								    <div class="form-group">
									      <div class="input-group">
										        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
										        <span class="input-group-btn">
											          <button type="submit" class="btn"><span class="fui-search"></span></button>
										        </span>
									      </div>
								    </div>
							  </form>
							  <ul class="nav navbar-nav navbar-right">
								    <li class="dropdown">
                        <!-- TODO: Replace with name from logged-in model. -->
									      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nonu Bajaj<b class="caret"></b></a>
									      <ul class="dropdown-menu">
										        <li><a href="#">My Trips</a></li>
										        <li><a href="#">Leader Menu</a></li>
										        <li><a href="Admin_Management.html">Admin Menu</a></li>
										        <li class="divider"></li>
										        <li><a href="#">Log Out</a></li>
									      </ul>
								    </li>
								    <li>
									      <a href="profile.html">
										        <span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span>
										        <span class="visible-md visible-lg"><span class="fui-gear"></span></span>
									      </a>
								    </li>
							  </ul>
						</div>
				</nav>
		</div>
</div>
{% endblock %}
