{% extends "template.html" %}

{% block title %}<title>Trip Planner (Leader) - UMOC</title>{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/trip_info.css' %}">

<div id="headingbox"><h1>UMOC Trip Planner (Leader)</h1></div>
<!--<div class="row">
	<!--<div class="col-md-12">-->
	<div id="form">
	<div id = "wrapper">
		<div id = "white_form">
		<p>This is the <em>Trip Planner</em></p>
		<!--
		<h2>Dynamic content</h2>
		<p>The database has the following record counts:</p>
		
		<ul>
			<li><strong>Trips:</strong> {{ num_trips }}</li>
		</ul>
		-->
			<div class = "row">
				<div class = "col-md-5">
				
					<div class = "row"><p>Trip Name:</p></div>
					<input type="text" value="" placeholder="Trip Name" class="form-control">
					<p></p>
					<div class = "row">
						<p> Trip Date: </p>
						<div class = "col-md-6">
							<input type="text" value="" placeholder="Start Date" class="form-control">
							<p></p>
							<input type="text" value="" placeholder="End Date" class="form-control">
						</div>
					</div>
					<p></p>
					<div class = "row"><p>Description:</p></div>
					
					<input type="text" value="" placeholder="Description" class="form-control">
					<p></p>
					<div class = "row"><p>Number of People:</p></div>
					<div class = "row">
						<div class = "col-md-6">
						<input type="text" value="" placeholder="Number of People" class="form-control">
						</div>

						
					</div>
					<div class = "row">
					<p></p>
						<div class = "col-md-6">
								<a href="#fakelink" class="btn btn-block btn-lg btn-danger">Create Trip</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div>
</div>
  
{% endblock %}