{% extends "base_generic.html" %}

{% block content %}
<h1>Umoc Database Dashboard</h1>

  <p>Hi, {{ user.first_name }}! This is the <em>Umoc Dashboard</em></p>

<h2>Dynamic content</h2>

  <p>The database has the following record counts:</p>
  <ul>
	{# use built-in length filter. This is equivalent to calling len(trips). See https://docs.djangoproject.com/en/2.0/ref/templates/builtins/ for more #}
    <li><strong>Trips:</strong> {{ count }}</li>
  </ul>
  
    {% if trip_list %}
    <ul>

      {% for trip in trip_list %}
      <li>
        <a href="{{ trip.get_absolute_url }}">{{ trip.name }}</a> 
      </li>

      <h3>{{ trip.name }}</h3>
      <p>{{ trip.description }}</p>
      <p>Led by {{ trip.leader.first_name }}</p>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no trips in the database.</p>
    {% endif %}       
{% endblock %}