{% extends "template.html" %}

{% block title %}<title>Home - UMOC</title>{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1>UMOC Home</h1>
		<p>Welcome to <em>UMOC</em>, a very basic UMOC website developed by the students of CS326, Spring 2018.</p>
		<h2>Dynamic content</h2>
		<p>The database has the following record counts:</p>
		
		<ul>
			<li><strong>Users:</strong> {{ num_users }}</li>
			<li><strong>Trips:</strong> {{ num_trips }}</li>
			<li><strong>Admins:</strong> {{ num_admins }}</li>
		</ul>
	</div>
</div>

{% endblock %}