{% extends "template.html" %}

{% block title %}<title>{{ user.first_name }}'s Profile - UMOC</title>{% endblock %}

{% block fullname %} {{ user.first_name }} {{ user.last_name }} {% endblock %}

{% block content %}

<div class="row">
	  <div class="col-md-12">
    <h1>Hello {{ user.first_name }}!</h1>
   	<div class="row">
				<div class="col-xs-4">
					  <a class="thumbnail" href="#">
						    <img src="https://profile.actionsprout.com/default.jpeg" alt="Profile Picture" style="height: 230px; width: 100%;">
					  </a>
				</div>
				<div class="col-xs-8">
					  <div class="todo">
						    <ul style="border-radius: 6px;">
							      <a href="waiver.html">
								        <li class="todo-done">
									          <div class="todo-icon fui-alert-circle"></div>
									          <div class="todo-content">
										            <h4 class="todo-name">Sign the <strong>Release of Liability</strong> Form</h4>Required once, valid for all trips
									          </div>
								        </li>
							      </a>
							      <li class="todo-done">
								        <div class="todo-icon fui-user"></div>
								        <div class="todo-content">
									          <h4 class="todo-name">Fill out <strong>Emergency Contacts Info</strong></h4>Required once each year, valid for all trips
								        </div>
							      </li>
							      <li>
								        <div class="todo-icon fui-heart"></div>
								        <div class="todo-content">
									          <h4 class="todo-name">Pay the <strong>Membership Fee</strong></h4>"Required" once each year, valid for  all trips
								        </div>
							      </li>
						    </ul>
					  </div>
				</div>
		</div>
		<div class="row">
				<div class="col-md-4">
					  <div class="form-group">
						    <label for="InputEmail">Change Email Address</label>
						    <input type="email" class="form-control" id="InputEmail" placeholder="{{ user.email }}">
					  </div>
				</div>
				<div class="col-md-4">
					  <div class="form-group">
						    <label for="InputPassword1">Change Password</label>
						    <input type="password" class="form-control" id="InputPassword1" placeholder="*******">
					  </div>
				</div>
				<div class="col-md-4">
					  <div class="form-group">
						    <label for="InputPassword2">Confirm Password</label>
						    <input type="password" class="form-control" id="InputPassword2" placeholder="*******">
					  </div>
				</div>
		</div>
		<div class="row">
				<div class="col-md-2">
					  <div class="form-group">
						    <label>First Name</label>
						    <input type="text" class="form-control" placeholder="{{ user.first_name }}">
					  </div>
				</div>
				<div class="col-md-2">
					  <div class="form-group">
						    <label>Middle Name</label>
						    <input type="text" class="form-control" placeholder="">
					  </div>
				</div>
				<div class="col-md-2">
					  <div class="form-group">
						    <label>Last Name</label>
						    <input type="text" class="form-control" placeholder="{{ user.last_name }}">
					  </div>
				</div>
				<div class="col-md-2">
					  <div class="form-group">
						    <label>Phone Number</label>
						    <input type="tel" class="form-control" placeholder="{{ user.phone_num }}">
					  </div>
				</div>
				<div class="col-md-2">
					  <div class="form-group">
						    <label>SpireID</label>
						    <input type="number" class="form-control" placeholder="12345678" min="10000000" max="99999999">
					  </div>
				</div>
				<div class="col-md-2">
					  <div class="form-group">
						    <label>Submit</label>
						    <button class="btn btn-primary form-control" type="submit">Submit</button>
					  </div>
				</div>
		</div>
	</div>
</div>

{% endblock %}
