{% extends "template.html" %}

{% block content %}
  <head>
  
    <meta charset="utf-8">
    <title>Trip Info - UMOC</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/trip_info.css' %}">

  </head>
  

  <body>
    <div id="headingbox"><h1>Trip Details</h1></div>
    <div id="form">
      <div id="wrapper">
        <div id="white_form">
        {% load static %}
        <img id="clipboard" src="{% static 'img/clipboard.png' %}" alt="clipboard"><h3 id="trip_name">{{trip.name}}</h3>
        <h5>Led by: <a href="{% url 'profile'%}">{{trip.leader.first_name}}</a></h5>
        <h6><i>{{trip.start_time}} - {% if trip.end_time %}{{trip.end_time}}{% endif %}</i></h6>

        <p><strong>Number of Seats Available:</strong> <a href="">{{ trip.num_seats }}</a></p>
        <p id="description"><strong>Description:</strong> {{ trip.description }}</p>

          <div class="btn-group">
            <button class="btn btn-inverse dropdown-toggle" type="button" data-toggle="dropdown">{{ trip.num_seats }} Users Going On Trip <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu">
              {% for participant in trip.participants.all %}
              <li><a href="#">{{participant}}</a></li>
              {% endfor %}

            </ul>

        </div>
        <button id="sign_up" class="btn btn-info">Join Trip!</button>
        
		<h3 id="comments">Comments</h3>
		{% for comment in trip.comment_set.all %}
			{% include 'snippets/comment.html' with comment=comment %}
		{% endfor %}
		
		<!-- import Javascript for Comment functionality -->
		{% load static %}
		<script src="{% static 'javascript/comments.js' %}"></script>
        </div>
      </div>
    </div>
  </body>
{% endblock %}